Repository Qiskit/platypus, changes with the owners that .github/CODEOWNERS names for each.
All owners: @vabarbosa, @korgan00, @frankharkins, @Qiskit/qiskit-translation

update Japanese (#1823)
  translations/ja/quantum-machine-learning/kernel.ipynb
Owners: @Qiskit/qiskit-translation

Revise Labs to Platypus lab format (#1821)
  notebooks/ch-labs/Lab02_Single_Qubit_Gates.ipynb
  notebooks/ch-labs/Lab03_QuantumMeasurement.ipynb
  notebooks/ch-labs/Lab04_Bell_GHZ_Circuit.ipynb
  notebooks/ch-labs/Lab05_AccuracyQPE.ipynb
  notebooks/ch-labs/Lab06_IterativePhaseEstimation.ipynb
  notebooks/ch-labs/Lab07_Scalable_Shor_Algorithm.ipynb
  notebooks/ch-labs/Lab08_Grover_search_with_an_unknown_number_of_solutions.ipynb
  notebooks/ch-labs/Lab09_QuantumSimulationSearchAlgorithm.ipynb
  translations/bn/ch-labs/Lab09_QuantumSimulationSearchAlgorithm.ipynb
  translations/es/ch-labs/Lab09_QuantumSimulationSearchAlgorithm.ipynb
  translations/ja/ch-labs/Lab02_Single_Qubit_Gates.ipynb
  translations/ja/ch-labs/Lab03_QuantumMeasurement.ipynb
  translations/ja/ch-labs/Lab04_Bell_GHZ_Circuit.ipynb
  translations/ja/ch-labs/Lab09_QuantumSimulationSearchAlgorithm.ipynb
Owners: @frankharkins, @Qiskit/qiskit-translation

Correct image (#1809)
  notebooks/intro/images/quantum-states/basis.svg
Owners: @frankharkins

Correct typo (#1807)
  notebooks/summer-school/2021/lec6.1.ipynb
Owners: @frankharkins

Update LOCALIZATION_CONTRIBUTORS (#1803)
  LOCALIZATION_CONTRIBUTORS
Owners: @Qiskit/qiskit-translation

rename and add images (#1739)
  translations/ja/basics/circuits-and-protocols.ipynb
  translations/ja/basics/images/classical-information-hero.png
  translations/ja/basics/images/multiple-systems-hero.gif
  translations/ja/basics/images/quantum-information-hero.png
  translations/ja/basics/images/single-systems-hero.png
  translations/ja/basics/images/under-construction.png
Owners: @Qiskit/qiskit-translation

Add notebook for preview
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

Handle display equations in blockquotes
  converter/textbook-converter/textbook_converter/TextbookExporter.py
Owners: @vabarbosa, @korgan00

Incorporate review comments
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

Update & add images
  notebooks/basics/images/quantum-circuits/Boolean-circuit-XOR.png
  notebooks/basics/images/quantum-circuits/Boolean-circuit-classic.png
  notebooks/basics/images/quantum-circuits/XOR-circuit-evaluate.png
  notebooks/basics/images/quantum-circuits/arithmetic-circuit.png
  notebooks/basics/images/quantum-circuits/cNOT-copy.png
  notebooks/basics/images/quantum-circuits/cNOT.png
  notebooks/basics/images/quantum-circuits/controlled-gates.png
  notebooks/basics/images/quantum-circuits/discriminate.png
  notebooks/basics/images/quantum-circuits/ebit-circuit-first.png
  notebooks/basics/images/quantum-circuits/ebit-circuit-measured-compact.png
  notebooks/basics/images/quantum-circuits/ebit-circuit-measured.png
  notebooks/basics/images/quantum-circuits/ebit-circuit-second.png
  notebooks/basics/images/quantum-circuits/ebit-circuit.png
  notebooks/basics/images/quantum-circuits/hero.gif
  notebooks/basics/images/quantum-circuits/not-gate.png
  notebooks/basics/images/quantum-circuits/simple-quantum-circuit-evaluated.png
  notebooks/basics/images/quantum-circuits/simple-quantum-circuit.png
  notebooks/basics/images/quantum-circuits/single-qubit-gates.png
  notebooks/basics/images/quantum-circuits/swap-gate.png
  notebooks/basics/images/quantum-circuits/uncontrolled-and-controlled-unitary.png
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

Include hero animation
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

Handle display equations in blockquotes (#1832)
  converter/textbook-converter/textbook_converter/TextbookExporter.py
Owners: @vabarbosa, @korgan00

Replace HTML with markdown
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

Handle figures in markdown lists
  converter/textbook-converter/textbook_converter/TextbookExporter.py
Owners: @vabarbosa, @korgan00

Fix error and update image
  notebooks/basics/images/quantum-circuits/hero.gif
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

JW's suggested edit, and another "Diving Deeper" problem
  notebooks/problem-sets/classical_information.ipynb
Owners: @frankharkins

Update LOCALIZATION_CONTRIBUTORS
  LOCALIZATION_CONTRIBUTORS
Owners: @Qiskit/qiskit-translation

Typo
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

Tweak code
  notebooks/basics/quantum-circuits.ipynb
Owners: @frankharkins

.github/CODEOWNERS:

* @vabarbosa @korgan00
/notebooks/ @frankharkins
/translations/ @Qiskit/qiskit-translation
LOCALIZATION_CONTRIBUTORS @Qiskit/qiskit-translation
